* {
    font-family: cursive;
}
body{
    margin: 0;
    padding: 0;
    background-color: beige;
}
#navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    color: black;
    
}
.elem {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    left: 37rem;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
#botonFinal {
    text-align: center;
}

#cards {
    text-align: center;    
}
#div-boton-oculto {
    text-align: center;
}

#galeria {
    display: flex;
    justify-content: space-between;
  }
  section {
      text-align: center;
  }
  #seccion{
      text-align: center;
  }
  #modal{
      text-align: center;
  }
  #contenedor{
    display: flex;
    flex-direction: row;
    text-align: center;
    
    justify-content: space-around;
  }

  #contenedor, #tituloCarrito {
      display: none;
  }
  #estaVacio{
      display: none;
  }
  #tbl{
      display: none;
  }
   #second{
      display: none;
  }
  .loader {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #e0e0e0;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }