* {
    font-family: cursive;
}
body{
    margin: 0;
    padding: 0;
    background-color: beige;
}
.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    color: black;
    
}
.elem {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    left: 37rem;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}


#cards {
    text-align: center;    
}
.contenedor{
    width:800px;
    margin: 0 auto;
    position:relative;
}
#mapa{
    position:relative;
    text-align: center;
    width: 400px;
    height: 300px;
    margin:0 auto;
    margin-top:20px;
    padding: 5px;
    border: 1px solid black;
    background: #CCC;
}
#mapa .mensaje{
    display: block;
    font-weight: bold;
    font-size: 12px;
    color: rgb(54, 54, 54);
    width: 180px;
    line-height: 135%;
    margin: 0 auto;
    margin-top: 120px;
}
#mapa iframe{
    border:1px solid black;
}
.ubicar {
    display: block;
    text-align: center;
}