* {
    font-family: cursive;
}
body{
    margin: 0;
    padding: 0;
    background-color: beige;
}
.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    color: black;
    
}
.elem {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    left: 37rem;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.botonFinal {
    text-align: center;
}